/*=====================
GLOBAL LAYOUT/STYLES
=====================*/

html {
  font-size: 75%;
}

body {
  font-size: 1rem;
  font-family: 'Libre Franklin', sans-serif;
  color: #333;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

ul {
  padding: 0;
  list-style: none;
}

label {
  display: block;
  text-align: left;
}

textarea {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.container {
  max-width: 960px !important;
}

.fl { float: left; }
.fr { float: right; }

.org,
.org:visited,
.org:focus,
.org:hover,
.org:active {
    background: #FDD697;
  }

.btn {
  border: 0;
  border-radius: 0;
}

.user-form {
  max-width: 550px !important;
  margin: 0 auto;
}

.header-styling {
  margin: 2rem 0;
  font-style: italic;
  text-align: center;
}

.spacer {
  content: "";
  margin-bottom: 30px;
}


/*=====================
SPECIFIC LAYOUT/STYLES
=====================*/

/* --- NAVBAR --- */

.navbar a.clickable {
  cursor: pointer;
}

.navbar-container {
  margin: 0 auto;
  position: relative;
  margin-left: -15px;
  margin-right: -15px;
}

.navbar {
  background: #C8E79D;
  margin-bottom: 0;
  position: relative;
  border: 0;
  border-radius: 0;
}

.navbar-nav {
  margin-top: 0;
  margin-bottom: 0;
  background: #f1f5ed;
  text-align: center;
}

.navbar-default .navbar-brand { color: #333; }
.navbar-default .navbar-toggle { border: 0; }
.navbar-default .navbar-toggle:focus { background: #C8E79D }
.navbar-default .navbar-toggle:hover { background: #C8E79D }
.navbar-default .navbar-toggle:active { background: #C8E79D }

.navbar-header {
  background: #C8E79D;
}

.navbar-brand svg {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 40px;
  fill: #333;
}

.logo-words {
  font-family: 'Varela Round', sans-serif;
  font-weight: 400;
  margin-left: 25px;
  color: #333;
}

.navbar-form {
  margin: 0;
  padding: 0;
  border: 0;
}

/* --- SEARCH PAGE --- */

.search-form {
  margin: 0;
  display: flex;
  justify-content: center;
  width: 100%;
}

.search-bar {
  width: 75%;
  float: left;
  font-size: 1.3rem;
  padding: 0.6rem 1.2rem;
  border: 0;
}

.search-btn {
  width: 25%;
  float: left;
  padding: 1rem;
}

.map {
  min-height: 70vh;
}

.map.col-xs-12.col-sm-6 {
  padding-left: 0;
  padding-right: 0;
}

.wishlist,
.reviews,
.review {
  text-align: center;
}


/* --- LOCATION PAGE --- */

.location-format {
  text-align: center;
}

/* Wishlist */
.wishlist-option {
  margin: 3rem 0 1rem;
  text-align: center;
}

.wishlist-text {
  display: inline-block;
  margin-left: 10px;
  vertical-align: top;
}

i.heart {
  color: #FE7569;
}

/* Photos */
.photos,
.information {
  text-align: center;
}

/* Styles used in the signup.html file */
.fa-exclamation-circle {
  color: red;
}


/* --- PROFILE PAGE --- */

/* Image styles */
 .avatar img {
    width: 100%;
    max-width: 12rem;
    border-radius: 50%;
    margin: 2rem auto 0;
    display: block;
 }

.image_div {
  background-color: #000;
}


/*=====================
MEDIA QUERIES
=====================*/

@media screen and (min-width: 480px) {

  .navbar-container {
    width: 100%;
    display: flex;
    align-items: center;
    margin: 0;
  }

  .navbar-header {
    display: inline-block;
  }

  .navbar-collapse {
    float: right;
    width: 100%;
  }

  .navbar-nav {
    background: inherit;
  }

  .navbar-collapse {
    display: inline-block !important;
  }

  .navbar svg {
    left: -10px;
  }

  .location-format {
    margin-top: 22px;
    display: flex;
    align-items: center;
  }

}
