<div class="container-fluid">
    <div class="row">
        <h2 class="col-xs-12">{{results.name}}</h2>
    </div>

    <div class="row">
        <h5 class="col-xs-12">{{results.formatted_address}}</h5>
        <h3 class="col-xs-12">{{rating}}</h3>
    </div>

    <div class="row">
        <div id="map" class="map"></div>
    </div>

    <div class="row">
        <!-- Wishlist/wishlisted -->
        <div class="col-xs-12 wishlist-option">
            <div ng-show="!isWishListed" >
                <i class="fa fa-heart-o fa-3x heart" ng-click="toggleHeart()" aria-hidden="true"></i>
                <h4 class="wishlist-text">Wishlist</h4>
            </div>
            <div ng-show="isWishListed" >
                <i class="fa fa-heart fa-3x heart" ng-click="toggleHeart()" aria-hidden="true"></i>
                <h4 class="wishlist-text">Wishlisted!</h4>
            </div>
        </div>
    </div>

    <div class="row information section">
        <h4 class="header-styling">Information:</h4>
        <p class="col-sm-6">Phone: {{results.formatted_phone_number}}</p>
        <p class="col-sm-6">Website: {{results.website}}</p>
    </div>

    <div ng-show="!isReviewed" class="row reviews section">
        <h4 class="header-styling">Review:</h4>
        <!-- Save -->
        <div ng-show="!isReviewed">
          <select name="{{reviewRating}}" ng-model="reviewRating">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
          <input type="text" ng-model="reviewTitle" value="{{reviewTitle}}">
          <textarea name="name" rows="8" cols="40" ng-model="reviewBody">{{reviewBody}}</textarea>
          <input type="button" ng-click="updateReview()" value="Submit">
        </div>
        <!-- Edit -->
        <div ng-show="isReviewed" class="">
          <h5>{{reviewTitle}}</h5>
          <p>rating: {{reviewRating}} / 5</p>
          <p>{{reviewBody}}</p>
          <input type="button" ng-click="updateReview()" value="Edit">
        </div>
        <!-- <p>{{locationDescription}}</p> -->
    </div>

    <div class="row photos section">
        <h4 class="header-styling">Photos:</h4>
        <div ng-repeat="image in imageUrls">
            <img ng-src="{{image}}" alt="hello">
        </div>
    </div>

</div>
