<div class="container-fluid spacer">
    <div class="row avatar">
        <img src="/images/default-avatar.png" alt="">
    </div>

    <!-- User info -->
    <div class="row">
        <h1 class="text-center">{{profile_info.customer.username}}</h2>
        <h2 class="text-center">{{profile_info.customer.first_name}} {{profile_info.customer.last_name}}</h2>
        <h4 class="text-center">{{profile_info.customer.email}}</h4>
    </div>

    <div class="row">
    <hr>
        <div class="col-sm-6 wishlist">
            <h3>Wishlist:</h3>
            <ul>
                <li ng-repeat="item in profile_info.wishlist">{{item.name}}</li>
            </ul>
        </div>
    <hr>
        <div class="col-sm-6 reviews">
            <h3>Reviews:</h3>
            <ul>
                <li ng-repeat="item in profile_info.reviews">{{item.name}} - {{item.rating}}/10</li>
            </ul>
        </div>
    </div>
</div>
