    <div class="row">
        <form class="navbar-form navbar-left" ng-submit="submitSearch()">
            <div class="form-group">
                <input type="text" ng-model="search" class="form-control search" placeholder="Search">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
    <div ng-if="data.length === 0" style="display: inline-block;">
        <p>No results found!</p>
    </div>
    <div ng-if="data.length > 1">
        <h3>Multiple results found:</h3>
        <ul>
            <li ng-repeat="place in data">
                <a ng-click="getSinglePlace(place)">{{place.name}}</a>
                <p>{{place.formatted_address}}</p>
            </li>
        </ul>
    </div>

    <div id="map" style="width:900px; height:580px;"></div>

    <div class="row">
        <h2>Wishlist</h2>
        <div class="wishlist col-sm-6">
            <ul>
                <li ng-repeat="place in wishlist">
                    <p>{{place.name}}</p>
                    <a href="/#/location/{{place.google_places_id}}">See info</a>
                </li>
            </ul>
        </div>

        <h2>Reviews</h2>
        <div class="reviews col-sm-6">
            <ul>
                <li ng-repeat="place in reviews">
                    <p>{{place.name}}</p>
                    <a href="/#/location/{{place.google_places_id}}">See info</a>
                </li>
            </ul>
        </div>
    </div>
