<!-- Search form -->
<div class="container-fluid spacer">
    <div class="row">
        <form class="navbar-form navbar-left" ng-submit="submitSearch()">
            <div class="search-form form-group clearfix">
                <input class="search-bar fl" type="text" ng-model="search" class="form-control search" placeholder="Search for a place...">
                <button type="submit" class="btn btn-default org search-btn fr">Submit</button>
            </div>
        </form>
        <div ng-if="data.length === 0" style="display: inline-block;">
            <p>No results found!</p>
        </div>
        <div ng-if="data.length > 1">
            <h4>Multiple results found:</h4>
            <ul>
                <li ng-repeat="place in data">
                    <a ng-click="getSinglePlace(place)">{{place.name}}</a>
                    <p>{{place.formatted_address}}</p>
                </li>
            </ul>
        </div>
    </div>

    <!-- Map -->
    <div class="row">
        <div id="map" class="map"></div>
    </div>

    <!-- Wishlist/reviews lists -->
    <div class="row">
        <hr ng-show="wishlist">
        <div class="wishlist col-sm-6" ng-show="wishlist">
            <h3>Wishlist</h3>
            <ul>
                <li class="clearfix" ng-repeat="place in wishlist">
                    <p class="fl">{{place.name}}</p>
                    <a class="fr" href="/#/location/{{place.google_places_id}}">See info</a>
                </li>
            </ul>
        </div>
        <hr ng-show="reviews">
        <div class="reviews col-sm-6" ng-show="reviews">
            <h3>Reviews</h3>
            <ul>
                <li class="clearfix" ng-repeat="place in reviews">
                    <p class="fl">{{place.name}}</p>
                    <a class="fr" href="/#/location/{{place.google_places_id}}">See info</a>
                </li>
            </ul>
        </div>
    </div>

</div>
